<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.leon.gateway.mapper.GatewayRoutesMapper">

    <select id="selectAll" resultType="cn.leon.gateway.domain.dto.GatewayRouteDefinition">
        SELECT * FROM gateway_routes WHERE delete_flag = 0
    </select>
</mapper>